@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

.body{
  padding-top: 20px;
  background: rgb(255, 255, 255);
}
.new-expense__controls {
  padding: 50px;
  border-radius: 50px;

    background: rgba(197, 195, 195, 0.651);
    display: flex;
    width: 700px;
    height: 200px;
    margin: 20px auto;
  }
  .nameInput {
    font-family: 'Mochiy Pop P One', sans-serif;
    margin-top: -20px;
    margin-left: -10px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
  }
  .textarea{
    font-family: 'Mochiy Pop P One', sans-serif;
    padding: 30px;
    margin-left: -210px;
    margin-top: 30px;
    width: 270px;
    height: 130px;
    border-radius: 20px;
    font-size: 20px;
  }

  .select{
    font-family: 'Mochiy Pop P One', sans-serif;
    margin: 30px 40px;
    width: 250px;
    height: 30px;
    border-radius: 8px;
    font-size: 20px;
    transition: 0.5s;
  }

  .option{
    font-family: 'Mochiy Pop P One', sans-serif;
    transition: 0.5s;
  }

  .btnSab{
    font-family: 'Mochiy Pop P One', sans-serif;
    margin-top: 30px;
    width: 120px;
    font-size: 100px;
    color: rgba(0, 0, 0, 0.486);
  }